* { margin: 0; padding: 0;}
input[type="radio"] { display: inline;}

#main {
  label {
    display: inline;
  }

  table {
    width: 550px;
    margin-left: 20px;
    text-align: right;
    thead {
      tr {
        td {
          text-align: center;
        }
      }
    }
    tr {
      td {
        text-align: center;
        padding: 5px;
        
        input {
          margin-bottom: -2px;
        }

        pre {
          text-align: left;
          color: black;

          h1, h2, h3, h4, h5 {
            color: black;
          }
        }
      }
      td.op {
        width: 50px;
      }
      td.m {
        text-align: right;
      }
      td.company_name {
        width: 200px;
      }
      td.left {
        text-align: left;
      }
    }
    tr.meta_info {
      display: none;
    }
  }
}

.status {
  text-align: center;
  font-size: 16pt;
  color: red;
}

.tooltips {
  margin-top:-10px;
  text-align: center;
  color: #05F;

  .label {
    min-width: 40px;
    display: inline-block;
  }
}

.paginator {
  width: 100%;
  text-align: center;
  font-size: 16pt;
  margin-top: 10px;

  a {
    margin:5px;
  }
}
