.op span {
  
  vertical-align: center;

  button {
    width: 40px; 
    margin-right: 10px;
  }
}

#main {
	form {
		text-align: right;
		padding-right: 200px;
		
		#submit {
			margin-right: 130px;
		}
	}

  ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
  }

  li {
    input {
      width: 40px;
    }
  }
}
